body {
  padding-top: 5rem;
}

.list-element{
  display: flex;
  padding: 10px;
}

.image{
  padding: 5px;
  width: auto;
  height: auto;
}

.info{
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
  margin-top:30px;
}
